ul {
  padding: 0px;
}

li {
  color: white;
  list-style-type: none;
}

a {
  color:#1C1C1C;
  text-decoration: none;
}

.songContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-color: #2EE59D;
  padding-bottom: 8px;
  margin: 20px 20px 20px 20px;
}

.spotifyButton {
  /* background-image: linear-gradient(-90deg,#1ED760 ,white); */
  background-color: #2EE59D;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.spotifyButton:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}