.headerContainer {
  background-color: transparent;
  display: flex; 
  align-items: center;
  justify-content: center;
  border: .5px solid;
  border-bottom-color: #2EE59D;
}

h3 {
  color: #2EE59D;
}